* {
   margin: 0;
   border: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   font-size: 62.5%;
   --bg-body: #000;
   --bg-input: #06181C;
   --bg-button: #065E7C;
   --bg-button-hover: #FFFFFF;
   --bg-table: #06161B80;
   --bg-table-two: #06181C;
   --bg-tbody: #092D38;
   --color-tt-secondary: #065E7C;
   --color-tt-primary: #FFFFFF;
   --color-tt-placeholder: #7C7C8A;
   --color-tt-table: #E1E1E6;
   --color-tt-button: #F75A68;
   --color-tt-title-empty: #4E5455;
   --color-border-table:#4A808C;
}
body * {
   font-size: 1.6rem;
   color: var(--color-tt-primary);
   font-family: 'Roboto', sans-serif;
}
a {
   text-decoration: none;
}
button {
   background: none;
   border: none;
}
body {
   background-color: var(--bg-body);
   padding-top: 10rem;
}

#app {
   width: 90vw;
   max-width: 112rem;
   margin-inline: auto;
}

header {
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   gap: 10rem;
   margin-bottom: 9rem;
}
.logo {
   flex: 1;
}
.search {
   flex: 2;
   display: flex;
   gap: .8rem
}
.search input {
   padding: 1.6rem;
   background-color: var(--bg-input);
   border-radius: .5rem;
   width: 100%;
}
.search input::placeholder {
   color: var(--color-tt-placeholder);
}
.search button {
   display: flex;
   align-items: center;
   padding: 1.2rem 2.2rem;
   gap: .8rem;
   border-radius: .5rem;
   background-color: var(--bg-button);
   font-weight: 700;
   line-height: 2.4rem;
   text-transform: uppercase;
}
.search button span {
   font-size: 1.4rem;
}
.search button:hover {
   background-color: var(--bg-button-hover);
}
.search button:hover *,  .search button:hover .starPath {
   color: var(--color-tt-secondary);
   fill: var(--color-tt-secondary);
}

table {
   width: 100%;
   min-height: 42rem;
   max-height: 42rem;
   background-color: var(--bg-table);
   text-align: left;
   border-collapse: collapse;
   font-size: 2rem;
   line-height: 3rem;
   color: var(--color-tt-table);
   font-weight: 700;
   border-radius: 1rem;
   overflow: hidden;
   border: 1px solid var(--color-border-table);
}
 table *{
   font-size: 1.5rem;
   line-height: 3rem;
   color: var(--color-tt-table);
   font-weight: 700;
}
th, td {
   padding: 1.2rem 2rem;
}
table thead {
   background-color: var(--bg-tbody);
   line-height: 3rem;
   position: sticky;
   top: 0;
   z-index: 2;
}
table thead th {
   font-weight: 700;
}
table thead th:first-child {
   border-top-left-radius: 1rem;
}
table thead th:last-child {
   border-top-right-radius: 1rem;
}
thead,
.listFavorites tr {
  table-layout: fixed;
  width: 100%;
  display: table;
}
.listFavorites {
   display: block;
   height: calc(42rem - 6.2rem);
   overflow: overlay;
}
.listFavorites::-webkit-scrollbar {
   width: .6rem;
}
.listFavorites::-webkit-scrollbar-track {
   background: transparent;
}
.listFavorites::-webkit-scrollbar-thumb {
   background: #4A808C;
   border-radius: 10px;
}
td.user {
   display: flex;
   gap: 1rem;
   align-items: center;
}
td.user img{
   width: 5rem;
   height: 5rem;
   border-radius: 50%;
   object-fit: cover;
}
td.user span {
   font-weight: 400;
}
td .remove {
   color: var(--color-tt-button);
   cursor: pointer;
}
.listFavorites tr:nth-child(even) {
   background-color: var(--bg-table-two);
   border-top: 1px solid var(--color-border-table);
   border-bottom: 1px solid var(--color-border-table);

}
.listFavorites tr:last-child {
   border-bottom-left-radius: 1rem;
   border-bottom-right-radius: 1rem;
}
.listFavorites tr:hover {
   box-shadow: inset 0 0 5px 1px #ADD8E6;
}

.emptyList tr, .emptyList td {
   width: 100%;
   height: 100%;
}
.emptyList td {
   display: flex;
   align-items: center;
   gap: 6rem;
   justify-content: center;
}
.emptyList td h1 {
   font-size: 4rem;   
   font-weight: 700;
   line-height: 2.5rem;
   color: var(--color-tt-title-empty);
}

@media (max-width: 940px) {
   td.user {
      flex-direction: column;
      align-items:  flex-start;
   }
}